body {
  font-size: 1em;
}
body > div {
  max-width: 400px;
  margin: 20vh auto;
}
div.click {
  cursor: pointer;
  padding: 60px;
  border: solid 2.5px rgba(0,0,0,.25);
  position: relative;
}
div.click > span {
  padding: 4px 0;
  position: absolute;
  top: 0;
  left: calc(50% - 21px);
}
div.click.one {
  background-color: #c5d8f2;
}
div.click.two {
  background-color: #f49544;
}
div.click.three > span {
  top: calc(50% - 13px)
}
